@import "./../fonts/micon_nb/css/micon_nb.css";
@import "./../fonts/password manager/style.css";
html,
body,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 99999px;
}

::-webkit-scrollbar-track {
  background: #0000005b;
  border-radius: 99999px;
}

::-webkit-scrollbar-thumb {
  background: #1cb7ffa4;
  border-radius: 99999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1cb7ff;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  font-size: 0;
  background-color: #211f2b;
}
.title-bar .tb-icon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}
.title-bar .tb-icon path {
  stroke: #ffffff;
}
.title-bar #tb-window-move {
  -webkit-app-region: drag;
  flex: 1;
}
.title-bar .tb-window-control {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 32px;
  height: 24px;
  font-size: 12px;
  outline: none;
  background: none;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  color: #c5c5c5;
}
.title-bar .tb-window-control i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-bar .tb-window-control:hover {
  background: #5e5e5e;
}
.title-bar .tb-window-control:hover#tb-window-close {
  background: #ff3f3f;
  color: #2e2e2e;
}

.hidden {
  display: none !important;
}

.slides {
  box-sizing: border-box;
  font-size: 0;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.slides .sl-frames {
  width: min-content;
}
.slides .sl-frames .sl-frame {
  white-space: initial;
  display: inline-block;
  font-size: 16px;
  width: 400px;
  height: 200px;
  vertical-align: bottom;
}
.slides .sl-frames .sl-frame .sl-frameicon {
  font-size: 32pt;
}
.slides .sl-frames .sl-frame .sl-frametitle {
  font-size: 20pt;
  vertical-align: bottom;
}
.slides .sl-frames .sl-frame .sl-framedescription {
  font-size: 20px;
  opacity: 0.75;
}

.button {
  margin: 0;
  padding: 4px 6px;
  border-radius: 999999px;
  border: 0;
  display: flex;
  align-items: center;
}
.button:enabled {
  cursor: pointer;
}
.button:disabled {
  opacity: 0.2;
}
.button .btn-text:last-child {
  margin-left: 6px;
}
.button .btn-text:first-child {
  margin-right: 6px;
}

.ctx-menu {
  position: absolute;
  background-color: white;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}
.ctx-menu.hidden {
  opacity: 0;
  pointer-events: none;
}
.ctx-menu .ctx-option {
  display: block;
  width: 100%;
  text-align: start;
  border: 0;
  background-color: transparent;
  padding: 4px 6px;
  outline: none;
  transition: background-color 0.25s ease-in-out;
  white-space: nowrap;
}
.ctx-menu .ctx-option:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.ctx-menu .ctx-separator {
  display: block;
  height: 1px;
  background-color: #00000054;
  margin: 4px;
}
.ctx-menu .ctx-expandcontent {
  display: inline;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: white;
}
.ctx-menu .ctx-expandcontent.hidden {
  display: none;
}

.file-explorer {
  user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
}

.fe-topbar {
  min-height: 64px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #a0a0a0;
  padding-bottom: 16px;
}

.fe-guioptions {
  height: 60%;
}
.fe-guioptions .fe-show {
  border: 0;
  padding: 0;
  display: inline-block;
  height: 1.5em;
  background: none;
  opacity: 0.5;
  margin: 0 0.5em;
  outline: none;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  cursor: pointer;
}
.fe-guioptions .fe-show .fe-showicon {
  width: 1.5em;
}
.fe-guioptions .fe-show:hover {
  transform: scale(1.1);
  opacity: 1;
}

.fe-navigation {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}
.fe-navigation .fe-wronglocation {
  position: absolute;
  top: 100%;
  left: 15%;
  color: red;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.fe-backnext {
  display: table-footer-group;
}
.fe-backnext button:disabled {
  opacity: 0.3;
}

.fe-location {
  position: relative;
  flex: 1;
  margin: 0 1em;
  display: flex;
  padding: 0.1em 0.5em;
  border: 0.05em solid;
  border-radius: 100em;
  align-items: center;
  overflow: hidden;
  height: 1.25em;
  z-index: 1;
  transition: border-color 0.1s ease-in-out;
}
.fe-location .fe-locationinput {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1em;
  outline: none;
  background: none;
  border: 0;
  color: transparent;
  z-index: -1;
}
.fe-location .fe-locationinput.fe-editing {
  color: initial;
}
.fe-location .fe-locationfield {
  pointer-events: none;
  white-space: nowrap;
}
.fe-location .fe-locationfolder {
  padding: 0;
  background: none;
  border: 0;
  transition: background-color 0.1s ease-in-out;
  padding: 0 0.5em;
  border-radius: 10em;
  outline: none;
  color: inherit;
  pointer-events: all;
}
.fe-location .fe-locationfolder:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.fe-location .fe-locationseparator {
  margin: 0 0.25em;
  pointer-events: none;
  color: inherit;
}

.fe-explorer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  padding: 0.5em;
  overflow: hidden;
}
.fe-explorer .fe-explorerfiles {
  position: relative;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100px;
}
.fe-explorer.fe-list .fe-orderoptions {
  display: flex;
  margin-bottom: 0.75em;
  border-bottom: 0.1em solid #00000040;
  width: min-content;
  min-width: 100%;
}
.fe-explorer.fe-list .fe-order {
  margin: 0 0.5em;
  padding: 0 0.5em;
  position: relative;
  overflow-x: visible;
}
.fe-explorer.fe-list .fe-order .fe-ordercontent {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}
.fe-explorer.fe-list .fe-order.fe-ordername {
  width: 64px;
}
.fe-explorer.fe-list .fe-order.fe-orderdate {
  width: 64px;
}
.fe-explorer.fe-list .fe-order.fe-ordertype {
  width: 64px;
}
.fe-explorer.fe-list .fe-order .ui-resizable-e {
  position: absolute;
  width: 2px;
  height: 70%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  opacity: 1;
  cursor: col-resize;
  pointer-events: all;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder,
.fe-explorer.fe-list .fe-explorerfiles .fe-file {
  position: relative;
  display: flex;
  transition: background-color 0.1s ease-in-out;
  border-radius: 999px;
  box-sizing: border-box;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-folderdetail,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-filedetail,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-folderdetail,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-filedetail {
  padding: 0 0.5em;
  padding-bottom: 1em;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 1em;
  transform: translateY(8px);
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdborder,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdborder {
  position: absolute;
  height: 100%;
  width: 0.1em;
  right: 0;
  background-color: rgba(0, 0, 0, 0.281);
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent {
  display: flex;
  align-items: center;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldername,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filename, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-foldername,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filename,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-foldername,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filename,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-foldername,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filename {
  width: 64px;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldername .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldername .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filename .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filename .fe-fileicon, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-foldername .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-foldername .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filename .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filename .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-foldername .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-foldername .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filename .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filename .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-foldername .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-foldername .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filename .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filename .fe-fileicon {
  width: 1.5em;
  margin-right: 0.5em;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-folderdate,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filedate, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-folderdate,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filedate,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-folderdate,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filedate,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-folderdate,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filedate {
  width: 64px;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldertype,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filetype, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-foldertype,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filetype,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-foldertype,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filetype,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-foldertype,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filetype {
  width: 64px;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder:hover,
.fe-explorer.fe-list .fe-explorerfiles .fe-file:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.fe-explorer.fe-grid .fe-orderoptions {
  display: none;
}
.fe-explorer.fe-grid .fe-explorerfiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 6em);
  grid-column-gap: 0.75em;
  grid-row-gap: 1.25em;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file {
  display: block;
  width: 100%;
  height: min-content;
  padding-top: 100%;
  position: relative;
  transition: background-color 0.1s ease-in-out;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldername,
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-filename,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-foldername,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-filename {
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldericon,
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-fileicon,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-foldericon,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-fileicon {
  display: block;
  margin: 0 auto;
  width: 4em;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-folderdate,
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-filedate,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-folderdate,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-filedate {
  display: none;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldertype,
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-filetype,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-foldertype,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-filetype {
  display: none;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder:hover,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file:hover {
  background-color: rgba(0, 0, 0, 0.24);
}

.form h1 {
  margin-top: 0;
  margin-left: 16px;
}
.form h2 {
  margin-top: 0;
}
.form h3 {
  margin-top: 0;
}
.form h4 {
  margin-top: 0;
  opacity: 0.75;
}
.form input[type=text], .form input[type=password], .form input[type=email] {
  border: 2px solid #828485;
  border-radius: 4px;
  outline: none;
  padding: 4px 8px;
}
.form input[type=text]:focus, .form input[type=password]:focus, .form input[type=email]:focus {
  border: 2px solid #8497ec;
}
.form input[type=text].span, .form input[type=password].span, .form input[type=email].span {
  border: none;
  background: none;
  color: #fff;
  user-select: none;
}
.form .search {
  display: inline-block;
  position: relative;
}
.form .search input:focus + div {
  display: block;
}
.form .search > div {
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  max-height: 128px;
}
.form .search > div .option {
  padding: 4px 8px;
  color: #302c35;
}
.form .search > div .option:hover, .form .search > div .option.selected {
  background-color: #cacaca;
}
.form .search > div .option.default {
  opacity: 0.5;
  display: none;
}
.form .search > div .option span {
  display: none;
}
.form button, .form input[type=submit], .form input[type=reset], .form input[type=button] {
  padding: 4px 8px;
  border-radius: 999999px;
  background: none;
  outline: none;
  border: 2px solid;
}
.form button.primary, .form input[type=submit].primary, .form input[type=reset].primary, .form input[type=button].primary {
  border-color: transparent;
  background-color: #479dff;
  color: #130716;
  opacity: 0.9;
}
.form button.secondary, .form input[type=submit].secondary, .form input[type=reset].secondary, .form input[type=button].secondary {
  border: 2px solid;
  background: none;
  color: #479dff;
  opacity: 0.75;
}
.form button.terciary, .form input[type=submit].terciary, .form input[type=reset].terciary, .form input[type=button].terciary {
  border-color: transparent;
  background: none;
  color: #479dff;
  opacity: 0.75;
}
.form button:enabled:hover, .form input[type=submit]:enabled:hover, .form input[type=reset]:enabled:hover, .form input[type=button]:enabled:hover {
  cursor: pointer;
  opacity: 1;
}
.form button:disabled, .form input[type=submit]:disabled, .form input[type=reset]:disabled, .form input[type=button]:disabled {
  opacity: 0.5;
}
.form input[type=radio], .form input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  vertical-align: middle;
}
.form input[type=radio] {
  border-radius: 100%;
  border: 2px solid #828485;
}
.form input[type=radio]:checked::after {
  display: block;
  content: "";
  width: 75%;
  height: 75%;
  border-radius: 100%;
  background-color: #479dff;
}
.form input[type=checkbox] {
  border-radius: 25%;
  border: 2px solid #828485;
  cursor: pointer;
}
.form input[type=checkbox]:checked::after {
  content: "";
  display: block;
  width: 75%;
  height: 75%;
  background-color: #479dff;
}
.form input[type=range] {
  vertical-align: middle;
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  height: 4px;
  border-radius: 4px;
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;
}
.form input[type=range]:hover {
  opacity: 1;
}
.form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #36bbe4;
  cursor: pointer;
}
.form input:disabled {
  opacity: 0.75;
}
.form label {
  vertical-align: middle;
}
.form span.error {
  color: #ff4f4f;
  display: none;
}
.form span.error.show {
  display: initial;
}
.form input.error {
  border-color: #ff4f4f;
}
.form .box {
  margin-top: 8px;
  padding: 8px;
  border: 2px solid #d4e2e0a8;
  border-radius: 4px;
}
.form .separateh {
  margin-left: 16px;
}

#main {
  color: #ded7e9;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}
#main > h1 {
  margin: 0;
  margin-bottom: 16px;
}
#main #extensions-container {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}
#main #extensions-grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}
#main #extensions-grid .extension {
  user-select: none;
  background-color: #ded7e9;
  color: #2b2938;
  padding: 8px;
  border-radius: 16px;
  opacity: 0.85;
  transition: opacity 0.25s ease-in-out;
  cursor: pointer;
}
#main #extensions-grid .extension .extension-thumb {
  -webkit-user-drag: none;
  display: block;
  width: 128px;
  height: 100px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}
#main #extensions-grid .extension:hover {
  opacity: 1;
}
#main #extensions-grid .extension h4 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-bottom: 16px;
}
#main #extensions-grid .extension i {
  color: #2ca554;
  font-weight: bold;
  vertical-align: top;
  float: right;
  width: 16px;
  height: 16px;
  padding: 4px;
  border: 2px solid;
  border-radius: 100%;
}
#main #empty {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main #reload {
  position: absolute;
  bottom: 16px;
  right: 32px;
  display: none;
}

/*# sourceMappingURL=extension.css.map */
