@import "./../fonts/micon_nb/css/micon_nb.css";
@import "./../fonts/password manager/style.css";
@import "./components.scss";

body {
    display: flex;
    flex-direction: column;
    background-color: #2b2938;
    color: #e4f5f3;
    #main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        #logotype {
            position: absolute;
            top: 8px;
            left: 8px;
            opacity: 0.5;
        }
        #title {
            margin-top: 64px;
            font-size: 32px;
            border: 2px solid;
            margin-bottom: 16px;
            border-radius: 32px;
            padding: 6px 10px;
            color: #93efe7;
        }
        #greetings {
            font-size: 20px;
            margin-top: 8px;
        }
        #subtitle {
            margin-top: 4px;
            opacity: 0.75;
        }
        .form {
            background-color: #574f67;
            border-bottom: 4px solid #221f22;
            padding: 16px 32px;
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #form-icon {
            font-size: 32px;
            width: 64px;
            height: 64px;
            position: relative;
            margin-bottom: 16px;
            background-color: #151e42;
            border-radius: 64px;
            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}