html,
body,
#main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 99999px;
}

::-webkit-scrollbar-track {
    background: #0000005b;
    border-radius: 99999px;
}

::-webkit-scrollbar-thumb {
    background: #1cb7ffa4;
    border-radius: 99999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1cb7ff;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    background-color: #211f2b;
    .tb-icon {
        width: 24px;
        height: 24px;
        margin-left: 4px;
        path {
            stroke: #ffffff;
        }
    }
    #tb-window-move {
        -webkit-app-region: drag;
        flex: 1;
    }
    .tb-window-control {
        position: relative;
        margin: 0;
        border: 0;
        padding: 0;
        width: 32px;
        height: 24px;
        font-size: 12px;
        outline: none;
        background: none;
        transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
        color: #c5c5c5;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background: #5e5e5e;
            &#tb-window-close {
                background: #ff3f3f;
                color: #2e2e2e;
            }
        }
    }
}

.hidden {
    display: none !important;
}

.slides {
    box-sizing: border-box;
    font-size: 0;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    .sl-frames {
        width: min-content;
        .sl-frame {
            white-space: initial;
            display: inline-block;
            font-size: 16px;
            width: 400px;
            height: 200px;
            vertical-align: bottom;
            .sl-frameicon {
                font-size: 32pt;
            }
            .sl-frametitle {
                font-size: 20pt;
                vertical-align: bottom;
            }
            .sl-framedescription {
                font-size: 20px;
                opacity: 0.75;
            }
        }
    }
}

.button {
    margin: 0;
    padding: 4px 6px;
    border-radius: 999999px;
    border: 0;
    display: flex;
    align-items: center;
    &:enabled {
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.2;
    }
    .btn-text:last-child {
        margin-left: 6px;
    }
    .btn-text:first-child {
        margin-right: 6px;
    }
}

.ctx-menu {
    position: absolute;
    background-color: white;
    transition: opacity 0.25s ease-in-out;
    z-index: 1;
    
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    .ctx-option {
        display: block;
        width: 100%;
        text-align: start;
        border: 0;
        background-color: transparent;
        padding: 4px 6px;
        outline: none;
        transition: background-color 0.25s ease-in-out;
        white-space: nowrap;

        &:hover {
            background-color: rgba(0, 0, 0, 0.24);
        }
    }
    .ctx-separator {
        display: block;
        height: 1px;
        background-color: #00000054;
        margin: 4px;
    }
    .ctx-expandcontent {
        display: inline;
        position: absolute;
        left: 100%;
        top: 0;
        background-color: white;
        &.hidden {
            display: none;
        }
    }
}

.file-explorer {
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
}

.fe-topbar {
    min-height: 64px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #a0a0a0;
    padding-bottom: 16px;
}

.fe-guioptions {
    height: 60%;

    .fe-show {
        border: 0;
        padding: 0;
        display: inline-block;
        height: 1.5em;
        background: none;
        opacity: 0.5;
        margin: 0 0.5em;
        outline: none;
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
        cursor: pointer;
        .fe-showicon {
            width: 1.5em;
        }

        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
}

.fe-navigation {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;

    .fe-wronglocation {
        position: absolute;
        top: 100%;
        left: 15%;
        color: red;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }
}

.fe-backnext {
    display: table-footer-group;

    button:disabled {
        opacity: 0.3;
    }
}

.fe-location {
    position: relative;
    flex: 1;
    margin: 0 1em;
    display: flex;
    padding: 0.1em 0.5em;
    border: 0.05em solid;
    border-radius: 100em;
    align-items: center;
    overflow: hidden;
    height: 1.25em;
    z-index: 1;

    transition: border-color 0.1s ease-in-out;

    .fe-locationinput {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 1em;
        outline: none;
        background: none;
        border: 0;
        color: transparent;
        z-index: -1;

        &.fe-editing {
            color: initial;
        }
    }

    .fe-locationfield {
        pointer-events: none;
        white-space: nowrap;
    }

    .fe-locationfolder {
        padding: 0;
        background: none;
        border: 0;
        transition: background-color 0.1s ease-in-out;
        padding: 0 0.5em;
        border-radius: 10em;
        outline: none;
        color: inherit;
        pointer-events: all;

        &:hover {
            background-color: rgba(0, 0, 0, 0.24);
        }
    }

    .fe-locationseparator {
        margin: 0 0.25em;
        pointer-events: none;
        color: inherit;
    }
}

.fe-explorer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    padding: 0.5em;
    overflow: hidden;

    .fe-explorerfiles {
        position: relative;
        flex: 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100px;
    }

    &.fe-list {
        .fe-orderoptions {
            display: flex;
            margin-bottom: 0.75em;
            border-bottom: 0.1em solid #00000040;
            width: min-content;
            min-width: 100%;
        }

        .fe-order {
            margin: 0 0.5em;
            padding: 0 0.5em;
            position: relative;

            overflow-x: visible;

            .fe-ordercontent {
                white-space: nowrap;
                overflow: hidden;
                display: block;
                width: 100%;
            }

            &.fe-ordername {
                width: 64px;
            }

            &.fe-orderdate {
                width: 64px;
            }

            &.fe-ordertype {
                width: 64px;
            }

            .ui-resizable-e {
                //z-index: 1 !important;
                position: absolute;
                width: 2px;
                height: 70%;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: black;
                opacity: 1;
                cursor: col-resize;
                pointer-events: all;
            }
        }

        .fe-explorerfiles {
            .fe-folder,
            .fe-file {
                position: relative;
                display: flex;
                transition: background-color 0.1s ease-in-out;
                border-radius: 999px;
                box-sizing: border-box;

                .fe-folderdetail,
                .fe-filedetail {
                    padding: 0 0.5em;
                    padding-bottom: 1em;
                    margin: 0 0.5em;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    position: relative;
                    height: 1em;
                    transform: translateY(8px);
                }

                .fe-fdcontent {
                    overflow: hidden;
                    white-space: nowrap;
                    width: 100%;
                }

                .fe-fdborder {
                    position: absolute;
                    height: 100%;
                    width: 0.1em;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.281);
                }

                .fe-fcontent, .fe-fdcontent {
                    display: flex;
                    align-items: center;

                    .fe-foldername,
                    .fe-filename {
                        width: 64px;

                        .fe-foldericon,
                        .fe-fileicon {
                            width: 1.5em;
                            margin-right: 0.5em;
                        }
                    }

                    .fe-folderdate,
                    .fe-filedate {
                        width: 64px;
                    }

                    .fe-foldertype,
                    .fe-filetype {
                        width: 64px;
                    }
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.24);
                }
            }
        }
    }

    &.fe-grid {
        .fe-orderoptions {
            display: none;
        }

        .fe-explorerfiles {
            display: grid;
            grid-template-columns: repeat(auto-fill, 6em);
            grid-column-gap: 0.75em;
            grid-row-gap: 1.25em;

            .fe-folder,
            .fe-file {
                display: block;
                width: 100%;
                height: min-content;
                padding-top: 100%;
                position: relative;
                transition: background-color 0.1s ease-in-out;

                .fe-fcontent {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    flex-direction: column;

                    .fe-foldername,
                    .fe-filename {
                        text-align: center;
                        overflow: hidden;
                        width: 100%;
                    }

                    .fe-foldericon,
                    .fe-fileicon {
                        display: block;
                        margin: 0 auto;
                        width: 4em;
                    }

                    .fe-folderdate,
                    .fe-filedate {
                        display: none;
                    }

                    .fe-foldertype,
                    .fe-filetype {
                        display: none;
                    }
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.24);
                }
            }
        }
    }
}

.form {
    h1 {
        margin-top: 0;
        margin-left: 16px;
    }
    h2 {
        margin-top: 0;
    }
    h3 {
        margin-top: 0;
    }
    h4 {
        margin-top: 0;
        opacity: 0.75;
    }
    input[type="text"], input[type="password"], input[type="email"] {
        border: 2px solid #828485;
        border-radius: 4px;
        outline: none;
        padding: 4px 8px;
        &:focus {
            border: 2px solid #8497ec;
        }
        &.span {
            border: none;
            background: none;
            color: #fff;
            user-select: none;
        }
    }
    .search {
        display: inline-block;
        position: relative;
        input:focus + div {
            display: block;
        }
        >div {
            position: absolute;
            background-color: #fff;
            width: 100%;
            box-sizing: border-box;
            border-radius: 4px;
            margin-top: 4px;
            overflow-x: hidden;
            overflow-y: auto;
            display: none;
            max-height: 128px;
            .option {
                padding: 4px 8px;
                &:hover, &.selected {
                    background-color: #cacaca;
                }
                color: #302c35;
                &.default {
                    opacity: 0.5;
                    display: none;
                }
                span {
                    display: none;
                }
            }
        }
    }
    button, input[type="submit"], input[type="reset"], input[type="button"] {
        padding: 4px 8px;
        border-radius: 999999px;
        background: none;
        outline: none;
        border: 2px solid;
        &.primary {
            border-color: transparent;
            background-color: #479dff;
            color: #130716;
            opacity: 0.9;
        }
        &.secondary {
            border: 2px solid;
            background: none;
            color: #479dff;
            opacity: 0.75;
        }
        &.terciary {
            border-color: transparent;
            background: none;
            color: #479dff;
            opacity: 0.75;
        }
        &:enabled:hover {
            cursor: pointer;
            opacity: 1;
        }
        &:disabled {
            opacity: 0.5;
        }
    }
    input[type="radio"], input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        width: 13px;
        height: 13px;
        outline: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        vertical-align: middle;
    }
    input[type="radio"] {
        border-radius: 100%;
        border: 2px solid #828485;
        &:checked::after {
            display: block;
            content: '';
            width: 75%;
            height: 75%;
            border-radius: 100%;
            background-color: #479dff;
        }
    }
    input[type="checkbox"] {
        border-radius: 25%;
        border: 2px solid #828485;
        cursor: pointer;
        &:checked::after {
            content: '';
            display: block;
            width: 75%;
            height: 75%;
            background-color: #479dff;
        }
    }
    input[type="range"] {
        vertical-align: middle;
        -webkit-appearance: none;
        background: #d3d3d3;
        outline: none;
        height: 4px;
        border-radius: 4px;
        opacity: 0.75;
        transition: opacity 0.25s ease-in-out;
        &:hover {
            opacity: 1;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
            border-radius: 8px;
            background: #36bbe4;
            cursor: pointer;
        }
    }
    input:disabled {
        opacity: 0.75;
    }
    label {
        vertical-align: middle;
    }
    span.error {
        color: #ff4f4f;
        display: none;
        &.show {
            display: initial;
        }
    }
    input.error {
        border-color: #ff4f4f;
    }
    .box {
        margin-top: 8px;
        padding: 8px;
        border: 2px solid #d4e2e0a8;
        border-radius: 4px;
    }
    .separateh {
        margin-left: 16px;
    }
}