@import "./../fonts/micon_nb/css/micon_nb.css";
@import "./../fonts/password manager/style.css";
@import "./components.scss";

body {
    display: flex;
    flex-direction: column;
    background-color: #2b2938;
    color: #e4f5f3;
    #main {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        #steps-bar {
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            background-color: #3f3a4d;
            .step-item {
                .step-itemnumber {
                    display: inline-flex;
                    width: 24px;
                    height: 24px;
                    border-radius: 100%;
                    align-items: center;
                    justify-content: center;
                    background-color: #aca4b6;
                    
                }
                &.completed {
                    .step-itemnumber {
                        background-color: #33a130;
                    }
                    +.step-separator {
                        background-color: #33a130;
                    }
                }
            }
            .step-separator {
                display: block;
                width: 2px;
                height: 16px;
                margin-left: 11px;
                background-color: #aca4b6;
            }
        }
        #tabs {
            flex: 1;
            height: 100%;
            .tab {
                width: 100%;
                height: 100%;
                display: none;
                &.current {
                    display: initial;
                }
                .form {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: 16px 32px;
                    box-sizing: border-box;
                    .next {
                        position: absolute;
                        bottom: 16px;
                        right: 16px;
                        background-color: #42eb42;
                        color: #161518;
                    }
                }
                #finish-title {
                    font-size: 24px;
                    margin: 16px 0;
                }
                #finish-subtitle {
                    opacity: 0.75;
                }
                #finish-button {
                    margin-top: 48px;
                    font-size: 20px;
                    background-color: #42eb42;
                    opacity: 0.75;
                    transition: opacity 0.25s ease-in-out;
                    outline: none;
                    &:hover {
                        opacity: 1;
                    }  
                }
                &#last {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            
        }
        #start {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: #2b2938;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            #greetings {
                margin-top: 64px;
                font-size: 32px;
                border: 2px solid;
                margin-bottom: 16px;
                border-radius: 32px;
                padding: 6px 10px;
                color: #93efe7;
            }
            #subtitle {
                font-size: 20px;
                opacity: 0.75;
            }
            #start-button {
                margin-top: 48px;
                font-size: 20px;
                background-color: #42eb42;
                opacity: 0.75;
                transition: opacity 0.25s ease-in-out;
                outline: none;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}