@import "./../fonts/micon_nb/css/micon_nb.css";
@import "./../fonts/password manager/style.css";
@import "./components.scss";

#main {
    color: #ded7e9;
    padding: 16px;
    >h1 {
        margin: 0;
        margin-bottom: 16px;
    }
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    #extensions-container {
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1;
    }
    #extensions-grid {
        display: grid;
        grid-template-columns: repeat(3, 25%);
        grid-gap: 16px;
        overflow-y: auto;
        overflow-x: hidden;
        .extension {
            user-select: none;
            background-color: #ded7e9;
            color: #2b2938;
            padding: 8px;
            border-radius: 16px;
            opacity: 0.85;
            transition: opacity 0.25s ease-in-out;
            cursor: pointer;
            .extension-thumb {
                -webkit-user-drag: none;
                display: block;
                width: 128px;
                height: 100px;
                object-fit: contain;
                object-position: center;
                margin: 0 auto;
            }
            &:hover {
                opacity: 1;
            }
            h4 {
                display: inline-block;
                vertical-align: top;
                margin: 0;
                margin-bottom: 16px;
            }
            i {
                color: rgb(44, 165, 84);
                font-weight: bold;
                vertical-align: top;
                float: right;
                width: 16px;
                height: 16px;
                padding: 4px;
                border: 2px solid;
                border-radius: 100%;
            }
        }
    }
    #empty {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #reload {
        position: absolute;
        bottom: 16px;
        right: 32px;
        display: none;
    }
}