@import "./../fonts/password manager/style.css";
@import "./components.scss";

.file-explorer {
    background-color: #22202f;
    .fe-topbar {
        background-color: #2b2938;
        .fe-guioptions {
            display: none;
        }
        .fe-backnext {
            button {
                color: #28253a;
                border: 0;
                border-radius: 9999px;
                padding: 2px 6px;
                background-color: #93efe7;
                transition: transform 0.1s ease-in-out;
                &:enabled {
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.25);
                    }
                }
                outline: none;
            }
        }
        .fe-navigation {
            margin-bottom: 8px;
            .fe-location {
                color: #ded7e9;
            }
        }
        .fe-filequeries {
            height: 32px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            padding-bottom: 24px;
            .fe-filequery {
                color: #ded7e9;
                background-color: #1a1922;
                border-radius: 8px;
                padding: 6px 10px;
                padding-right: 20px;
                position: relative;
                z-index: 1;
                .fe-filequeryprogress {
                    position: absolute;
                    left: 0;
                    background-color: #6847ab;
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    border-radius: inherit;
                }
                .fe-filequeryremove {
                    position: absolute;
                    top: 50%;
                    right: 6px;
                    transform: translateY(-50%);
                    height: 10px;
                    width: 10px;
                    display: block;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-radius: 9999px;
                    background-color: #e78989;
                    outline: none;
                    cursor: pointer;
                    transition: background-color 0.25s ease-in-out;
                    &:hover {
                        background-color: #ff6868;
                    }
                    &:disabled {
                        opacity: 0.2;
                    }
                }
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
            
            .fe-filequeriesaccept {
                position: absolute;
                bottom: 2px;
                right: 2px;
                font-size: 10px;
                background-color: #89e799;
                outline: none;
                cursor: pointer;
                transition: background-color 0.25s ease-in-out;
                &:hover {
                    background-color: #55fc5d;
                }
                &:only-child {
                    display: none;
                }
            }
        }
    }
    .fe-explorer {
        color: #ded7e9;
        .ui-resizable-e {
            background-color: #ded7e9 !important;
        }
        .fe-fdborder {
            background-color: #ded7e9 !important;
            opacity: 0.25;
        }
        .fe-filequerried::before {
            display: block;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 999999px;
            position: absolute;
            border: 2px solid #93efe7;
        }
        .fe-fileencrypted::after {
            display: block;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 999999px;
            position: absolute;
            background-color: #2f2f4a;
            z-index: -1;
        }
    }
}