@import "./../fonts/password manager/style.css";
@import "./components.scss";

body {
    padding: 8px;
    box-sizing: border-box;

    #title {
        color: #ded7e9;
        margin-top: 0;
    }

    #subtitle {
        color: #ded7e9bf;
        font-size: 20px;
        margin-left: 16px;
    }

    .slides {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 16px;

        .sl-frame {
            background-color: #211f2b;
            border-radius: 16px;
            color: #ded7e9;
            position: relative;

            .sl-frameicon {
                color: #93efe7;
            }

            .sl-framedescription {
                margin-top: 16px;
                display: inline-block;
                opacity: 0.75;
            }

            .sl-framelink {
                position: absolute;
                right: 8px;
                bottom: 8px;
                background: #46f9e0;
                color: #1c1844;
                outline: none;
                cursor: pointer;
                transition: opacity 0.25s ease-in-out;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            #app-stores {
                position: absolute;
                right: 8px;
                bottom: 8px;
                margin-top: 16px;
                font-size: 0;
                .app-store {
                    font-size: 13.333px;
                    background: #46f9e0;
                    color: #1c1844;
                    outline: none;
                    transition: opacity 0.25s ease-in-out;
                    &:enabled {
                        opacity: 0.5;
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                            .btn-text {
                                margin-left: 6px;
                                max-width: 150px;
                            }
                        }
                    }
                    .btn-text {
                        display: inline-block;
                        max-width: 0;
                        margin-left: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        transition: max-width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
                    }
                    
                    display: inline-flex;

                    &:nth-child(1n) {
                        margin-left: 4px;
                    }
                }
            }

            padding: 8px;
            box-sizing: border-box;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
}