@import "./../fonts/password manager/style.css";
@import "./../fonts/micon_nb/css/micon_nb.css";
@import "./components.scss";

.acc-valueaction {
    user-select: none;
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    vertical-align: middle;
    background: none;
    color: #ded7e9;
    opacity: 0.5;
    transition: opacity 0.25s ease-in-out;
    outline: none;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &.edit {
        float: right;
    }
}
.form-inputlabel1 {
    margin-bottom: 8px;
}
#accounts {
    width: 100%;
    height: 100%;
    color: #ded7e9;
    display: flex;
    flex-direction: row;
    user-select: none;
    #account-list {
        width: 45%;
        height: 100%;
        overflow: auto;
        .account {
            user-select: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px;
            cursor: pointer;
            .acc-img {
                width: 32px;
                height: 32px;
                padding: 8px;
                border-radius: 100%;
                background-color: #ccbcd4;
                border: 2px solid #88ffbe;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                }
                i {
                    font-size: 32px;
                    color: #1d1324;
                }
            }
            transition: background-color 0.25s ease-in-out;
            &:hover {
                background-color: #36797e;
            }
            .acc-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 8px;
            }
        }
    }
    #account-info {
        flex: 1;
        height: 100%;
        padding: 8px 16px;
        background-color: #211f2b;
        user-select: none;
        #account-name {
            vertical-align: middle;
            font-size: 20px;
        }
        #account-data {
            margin: 16px 8px;
            background-color: #2b2938;
            display: inline-block;
            padding: 8px;
            border-radius: 8px;
            border-spacing: 16px;
            span {
                margin-right: 64px;
            }
            td:first-child {
                float: right;
            }
            .acc-valueaction {
                float: right;
                margin-left: 8px;
            }
        }
    }
}
#new-account {
    position: relative;
    padding: 16px;
    user-select: none;
    color: #ded7e9;
    
    #account-imagepreview {
        width: 32px;
        height: 32px;
        padding: 8px;
        border-radius: 100%;
        background-color: #ccbcd4;
        border: 2px solid #88ffbe;
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
        }
        i {
            font-size: 32px;
            color: #1d1324;
        }
    }
}
#password-generator {
    user-select: none;
    color: #ded7e9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000065;
    display: flex;
    align-items: center;
    justify-content: center;
    #result-password {
        font-size: 10px;
        box-sizing: border-box;
    }
    #form-generatepassword {
        display: inline-block;
        background-color: #4d3355;
        border-radius: 8px;
        padding: 16px 32px;
        h1 {
            text-align: center;
            margin: 0;
        }
    }
}
#create-cancel, #generate-cancel {
    color: #ff6a6a;
}