@import "./../fonts/micon_nb/css/micon_nb.css";
@import "./../fonts/password manager/style.css";
@import "./components.scss";

body {
    display: flex;
    flex-direction: column;
    background-color: #2b2938;
    #main {
        flex: 1;
        display: flex;
        flex-direction: row;
        #sidebar {
            width: 36px;
            position: relative;
            box-sizing: border-box;
            background-color: #2b2938;
            .sb-tab {
                display: block;
                position: relative;
                padding-top: 100%;
                width: 100%;
                margin: 0;
                border: 0;
                background: none;
                outline: none;
                opacity: 0.25;
                cursor: pointer;
                transition: opacity 0.25s ease-in-out,
                            background 0.25s ease-in-out,
                            border 0.25s ease-in-out,
                            color 0.25s ease-in-out;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 20px;
                    color: #b5acbd;
                }
                &:hover {
                    opacity: 0.5;
                }
                &.current {
                    opacity: 1;
                    background: #ffffff2c;
                    border-left: 2px solid #93efe7;
                    i {
                        color: #93efe7;
                    }
                }
            }
        }
        #view-container {
            flex: 1;
            .tab-view {
                display: none;
                width: 100%;
                height: 100%;
                &.current {
                    display: flex;
                }
            }
            #dialog-box-list {
                position: absolute;
                right: 8px;
                bottom: 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .dialog-box {
                    position: relative;
                    background-color: #211e25;
                    padding: 8px 16px;
                    padding-top: 16px;
                    color: #e4f5f3;
                    border-radius: 4px;
                    overflow: hidden;
                    display: inline-block;
                    .db-close {
                        position: absolute;
                        top: 4px;
                        right: 6px;
                        height: 10px;
                        width: 10px;
                        display: block;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 9999px;
                        background-color: #e78989;
                        outline: none;
                        cursor: pointer;
                        transition: background-color 0.25s ease-in-out;
                        &:hover {
                            background-color: #ff6868;
                        }
                    }
                    .db-closetimer {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 2px;
                        height: 100%;
                        background-color: #93efe7;
                    }
                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}

@keyframes sb-toggle {
    0% {
        
    }
}