@font-face {
  font-family: 'password-manager';
  src:
    url('fonts/password-manager.ttf?v6fmml') format('truetype'),
    url('fonts/password-manager.woff?v6fmml') format('woff'),
    url('fonts/password-manager.svg?v6fmml#password-manager') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'password-manager' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-DecryptFile:before {
  content: "\e90b";
}
.icon-EncryptFile:before {
  content: "\e90c";
}
.icon-NewFile:before {
  content: "\e90d";
}
.icon-Checked:before {
  content: "\e90a";
}
.icon-Main:before {
  content: "\e909";
}
.icon-Theme:before {
  content: "\e908";
}
.icon-GPlay:before {
  content: "\e906";
}
.icon-AppleS:before {
  content: "\e907";
}
.icon-Phone:before {
  content: "\e904";
}
.icon-Extension:before {
  content: "\e905";
}
.icon-Go:before {
  content: "\e901";
}
.icon-File:before {
  content: "\e900";
}
.icon-Key:before {
  content: "\e902";
}
.icon-ScanDocument:before {
  content: "\e903";
}
